.List {
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 500px;
}

.list_tit {
  border-bottom: solid 1px #ababab;
  color : #ababab;
}

.list_grid {
  display: grid;
  grid-template-columns: 70% 15% 15%;
}

.list_data {
  line-height: 40px;
}

.acenter {
  text-align: center;
}